@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input class ="form-control"></input>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">LastName</label>
                <input class ="form-control"></input>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Second LastName</label>
                <input class ="form-control"></input>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Phone</label>
                <input class ="form-control"></input>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Address</label>
                <input class ="form-control"></input>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Type</label>
                <input class ="form-control"></input>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ci</label>
                <input class ="form-control"></input>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Birthday</label>
                <input class ="form-control"></input>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Photo</label>
                <input class ="form-control"></input>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>